<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='style_login.css')}}">
    <title>Tela Login</title>
</head>

<body>
    <header>
        <img src="{{url_for('static', filename ='Logo.png')}}">
    </header>
    <main>
        <h1 class="centralizar">Login</h1>
        <form action="/validar-login" method="post">
            <div>
                <label class="labels">Matricula</label>
                <input type="text" name="matricula" placeholder="F8012123">
            </div>

            <div>
                <label>Senha</label>
                <input name="senha" type="password">
            </div>

            <input type="submit" value="Enviar">
        </form>
        
        <div class="centralizar">
            <a href="{{url_for('login.cadastro')}}">Cadastre-se</a>
            <a href="{{url_for('login.senha')}}">Esqueci a senha</a>
        </div>

        <p>{{mensagem}}</p>
        
    </main>
    <footer>&copy;Rogério Bicho</footer>
</body>


</html>