@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
}

.cabecalho{
    text-align: center;
    margin: 1%;      
}
body{
    max-width: 100%;
}

main{
    padding: 4rem; 
    margin-bottom: 20%;   
}

.posicionamento{
    display: flex;   
    justify-content:space-around;  
    flex-wrap: wrap; 
    margin-bottom: 1%;    
}

.posicionamento__filho{
    padding: 1.1rem;
    text-align: center;
}

.tamanho__input{
    width: 12rem;
    border-radius: 0.9rem;
}

.tamanho__input__menor{
    width: 5rem;
    border-radius: 0.9rem;
    text-align: center;
}
.estilo__titulo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.estilo__texto{
    font-size: 17px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
}

.retorno{
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

footer{
    text-align: center;
}
